.nav {
    grid-area: nav;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.7);
    padding-top: 12px;
}

.link, .linkActive {
    display: block;
    text-decoration: none;
    cursor: default;
    padding-left: 10px;
}

.link {
    color: white;
    transition: 0.3s;
}

.linkActive {
    color: rgba(0, 0, 0, 0.99);
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.4s;
}